<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Title</span>
				<nav class="mdl-navigation mdl-layout--large-screen-only">
		        	<a class="mdl-navigation__link" href="">Link</a>
		      	</nav>				
			</div>
		</header>

		<div class="mdl-layout__drawer">
		    <span class="mdl-layout-title">Title</span>
		    <nav class="mdl-navigation">
		      	<a class="mdl-navigation__link" href="">Link</a>
		    </nav>
		</div>

	    <main class="main">
	        
	    </main>

	    <div class="dialog-container">

	    </div>

	    <div class="loader">
		    <svg viewBox="0 0 32 32" width="32" height="32">
		    	<circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
		    </svg>
	    </div>
    </div>
</body>
</html>
